
   <script>
    $(document).ready(function() {
      $(':input[type="submit"]').prop('disabled', true);
      $('input[type="text"]').keyup(function() {
          if($(this).val() != '') {
            $(':input[type="submit"]').prop('disabled', false);
          }
      });
    });
  </script>

  <div class="container d-flex justify-content-center text-primary">
    <h3>Create a new Bug</h3>
  </div>
  <div class="container d-flex justify-content-center">
    <%= render "form" %>
  </div>