<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><strong>BugZilla</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <strong class="bg-warning text-dark">You're logged in as <%= current_user.role.capitalize %></strong>
        </li>
      <%end %>  
    </ul>
      <%= link_to 'Home', root_path, :class => 'btn btn-info', :style => "margin-right: 14px;" %>
      <% if user_signed_in?%>
        <%=link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
      <%end %>
  </div>
</nav>
